@model STEnterprise.Areas.Sale.Models.Country
@{
    ViewBag.Title = "Country";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color: black;text-align:center; padding:10px">Delete Country Information</h3>
<hr />

@using (Html.BeginForm("Delete", "Country", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    if (Model != null && Model.CountryId > 0)
    {
        @Html.HiddenFor(b => b.CountryId)
    }

    <div class="form-group">
        @Html.LabelFor(a => a.CountryName, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(b => b.CountryName, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(b => b.CountryName)
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(a => a.IsActive, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-5">
            @Html.DropDownListFor(a => a.IsActive, new List<SelectListItem>()
            {
                new SelectListItem {Text = "Active", Value = "true"},
                new SelectListItem {Text = "Inactive", Value = "false"}
            }, new {@class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(b => b.IsActive)
        </div>
            </div>
    <div class="form-group">
        <div class=" col-sm-offset-4 col-sm-2 ">
            <input type="submit" value="Delete" class="btn btn-danger"/>
        </div>
    </div>

    <div class="form-group">
        <div class=" col-sm-offset-3 col-sm-2 ">
            <a class="popup btn btn-primary" href="/Sale/Country/Index" style="margin-bottom:20px; margin-top:20px;">Back To List</a>
        </div>
    </div>
}
