@model STEnterprise.Areas.Purchase.Models.TruckDetail
@{
    ViewBag.Title = "Truck Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="text-align:left; padding:10px">Delete Truck Detail</h3>
<hr/>

<style>
    span.field-validation-error {
        color: red;
    }
</style>


@using (Html.BeginForm("Delete", "TruckDetail", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.TruckDetailId > 0)
    {
        @Html.HiddenFor(b => b.TruckDetailId)
    }

    <div class="form-group">

        @Html.LabelFor(a => a.ConsignmentNumber, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(b => b.ConsignmentNumber, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(b => b.ConsignmentNumber)
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(a => a.TruckNumber, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(b => b.TruckNumber, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(b => b.TruckNumber)
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(a => a.TruckFare, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(b => b.TruckFare, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(b => b.TruckFare)
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(a => a.AdvancePayment, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(b => b.AdvancePayment, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(b => b.AdvancePayment)
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(a => a.LoadingCost, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(b => b.LoadingCost, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(b => b.LoadingCost)
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(a => a.UnloadingCost, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(b => b.UnloadingCost, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(b => b.UnloadingCost)
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(a => a.OtherCost, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.TextBoxFor(b => b.OtherCost, new { @class = "form-control" ,@disabled="disabled" })
            @Html.ValidationMessageFor(b => b.OtherCost)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.IsActive, new { @class = "control-label col-md-offset-2 col-sm-2" })
        <div class="col-sm-3">
            @Html.DropDownListFor(a => a.IsActive, new List<SelectListItem>()
                {
                    new SelectListItem { Text = "Active", Value = "true" },
                    new SelectListItem { Text = "Inactive", Value = "false" }
                }, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(b => b.IsActive)
        </div>
    </div>

    <div class="form-group">
        <div class=" col-sm-offset-4 col-sm-2 ">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>

    <div class="form-group">
        <div class=" col-sm-offset-3 col-sm-2 ">
            <a class="popup btn btn-primary" href="/Purchase/TruckDetail/Index" style="margin-bottom:20px; margin-top:20px;">Back To List</a>
        </div>
    </div>
}



