
@model STEnterprise.Areas.Employee.Models.EmployeeDetail
@{
    ViewBag.Title = "Employee Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Employee Information</h2>



@using (Html.BeginForm("Delete", "EmployeeDetail", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()


    if (Model != null && Model.EmployeeId > 0)
    {
        @Html.HiddenFor(b => b.EmployeeId)
    }

    <div class="form-group">
        @Html.LabelFor(a => a.EmployeeName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(b => b.EmployeeName, new { @class = "form-control", @disabled = "disabled" })
            @*@Html.Label(" ", new { @class = "", id = "MessageForExistChekId" })*@
            @Html.ValidationMessageFor(b => b.EmployeeName, "", new { @class = "text-danger", @style = "color: red" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(a => a.DesignationName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.DropDownListFor(
            x => x.DesignationId,
            new SelectList(@ViewBag.DesignationInfo, "DesignationId", "DesignationName"),
            "", new { @class = "form-control", @disabled = "disabled" }
            )
            @Html.ValidationMessageFor(c => c.DesignationId, "", new { @class = "text-danger", @style = "color: red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.PresentAddress, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.PresentAddress, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(a => a.PresentAddress, "", new { @class = "text-danger", @style = "color: red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.PermanentAddress, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.PermanentAddress, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(a => a.PermanentAddress, "", new { @class = "text-danger", @style = "color: red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Phone, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.Phone, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(a => a.Phone, "", new { @class = "text-danger", @style = "color: red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Email, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger", @style = "color: red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Age, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.Age, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(a => a.Age, "", new { @class = "text-danger", @style = "color: red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.HireDate, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.HireDate, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(a => a.HireDate, "", new { @class = "text-danger", @style = "color: red" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.NationalId, new {@class = "control-label col-sm-2"})
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.NationalId, new {@class = "form-control", @disabled = "disabled"})
            @Html.ValidationMessageFor(a => a.NationalId, "", new {@class = "text-danger", @style = "color: red"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.MonthlySalary, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.MonthlySalary, new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(a => a.MonthlySalary, "", new { @class = "text-danger", @style = "color: red" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>

    <div class="form-group">
        <div class=" col-sm-offset-1 col-sm-2 ">
            <a class="popup btn btn-primary" href="/Employee/EmployeeDetail/Index" style="margin-bottom:20px; margin-top:20px;">Back To List</a>
        </div>
    </div>
}


